# Revision

In [ ]:
# DataFrame - Intro
# Creation of the DataFrame -
1. List
2. Another DataFrame
3. Dict
4. Series
5. Ndarray
# Columns - CRUD
Column Selection
Column Addition
Column Deletion - del, pop, drop

In [1]:
import pandas as pd

In [2]:
data = {"Apples":[102, 500, 250, 75],"Grapes":[50, 150, 90, 45]}
df = pd.DataFrame(data,index=["A", "B", "C", "D"])

In [3]:
df

   Apples  Grapes
A     102      50
B     500     150
C     250      90
D      75      45

In [4]:
df[['Grapes']]

   Grapes
A      50
B     150
C      90
D      45

In [5]:
df['Bananas'] = df['Grapes'] + 50

In [7]:
df['Pear'] = df['Bananas'] + 100
df['Mangoes'] = df['Pear'] + 500
df['Jackfruit'] = df['Grapes'] + 150
df['Strawberry'] = df['Jackfruit'] + 200
df['Oranges'] = df['Strawberry'] + 70

In [9]:
df

   Apples  Grapes  Bananas  Pear  Mangoes  Jackfruit  Strawberry  Oranges
A     102      50      100   200      700        200         400      470
B     500     150      200   300      800        300         500      570
C     250      90      140   240      740        240         440      510
D      75      45       95   195      695        195         395      465

In [10]:
df.drop(['Bananas'], axis=1, inplace=True)

In [11]:
df

   Apples  Grapes  Pear  Mangoes  Jackfruit  Strawberry  Oranges
A     102      50   200      700        200         400      470
B     500     150   300      800        300         500      570
C     250      90   240      740        240         440      510
D      75      45   195      695        195         395      465

# Row - CRUD

In [15]:
df

   Apples  Grapes  Pear  Mangoes  Jackfruit  Strawberry  Oranges
A     102      50   200      700        200         400      470
B     500     150   300      800        300         500      570
C     250      90   240      740        240         440      510
D      75      45   195      695        195         395      465

* Row selection

In [ ]:
loc & i(integer)loc

In [23]:
# loc -> Index_name but wont take an integer
df.loc[[3]] # here it will throw an error

KeyError: "None of [Index([3], dtype='int32')] are in the [index]"

In [24]:
df.iloc[[2]] # here it wont throw any error

   Apples  Grapes  Pear  Mangoes  Jackfruit  Strawberry  Oranges
C     250      90   240      740        240         440      510

In [25]:
# iloc -> index
df.iloc[2:3]

   Apples  Grapes  Pear  Mangoes  Jackfruit  Strawberry  Oranges
C     250      90   240      740        240         440      510

* Row Addition

In [26]:
student_marks = {"Name":["Rahul", "Rohit", "Venkat", "Sahil", "Ankita"],
                 "OS":[25, 75.5, 96, 0, 100],
                 "DBMS":[20, 80, 60, 50, 99]}

df1 = pd.DataFrame(student_marks)

In [27]:
df1

     Name     OS  DBMS
0   Rahul   25.0    20
1   Rohit   75.5    80
2  Venkat   96.0    60
3   Sahil    0.0    50
4  Ankita  100.0    99

In [28]:
data2 = {"Name":"Robby", "OS":60.5, "DBMS":55.5}

In [29]:
# 1st Method -> append()
df1 = df1.append(data2,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [30]:
df1

     Name     OS  DBMS
0   Rahul   25.0    20
1   Rohit   75.5    80
2  Venkat   96.0    60
3   Sahil    0.0    50
4  Ankita  100.0    99

In [31]:
# 2nd Method -> concat()
data3 = {"Name":"Spiderman", "OS":90, "DBMS":100}
df3 = pd.DataFrame(data3,index=[0])

# arr.append(1)

In [32]:
df3

        Name  OS  DBMS
0  Spiderman  90   100

In [33]:
df1 = pd.concat([df1, df3])

In [34]:
df1

        Name     OS  DBMS
0      Rahul   25.0    20
1      Rohit   75.5    80
2     Venkat   96.0    60
3      Sahil    0.0    50
4     Ankita  100.0    99
0  Spiderman   90.0   100

In [35]:
df1.loc[[0]]

        Name    OS  DBMS
0      Rahul  25.0    20
0  Spiderman  90.0   100

In [36]:
df1

        Name     OS  DBMS
0      Rahul   25.0    20
1      Rohit   75.5    80
2     Venkat   96.0    60
3      Sahil    0.0    50
4     Ankita  100.0    99
0  Spiderman   90.0   100

In [37]:
df1.loc[[4]]

     Name     OS  DBMS
4  Ankita  100.0    99

In [40]:
df1.iloc[4] = ["Steve", 67,23] # here to update rows we have to give exact same number of values else it will throw an error

In [41]:
df1

        Name    OS  DBMS
0      Rahul  25.0    20
1      Rohit  75.5    80
2     Venkat  96.0    60
3      Sahil   0.0    50
4      Steve  67.0    23
0  Spiderman  90.0   100

* Row Deletion

In [ ]:
del, pop, drop

In [42]:
del df1.loc[[0]] # del with not work here with loc

AttributeError: __delitem__

In [43]:
df1.pop(df1.loc[[1]])

ValueError: Boolean array expected for the condition, not object

In [44]:
df1.loc.pop([6])

AttributeError: '_LocIndexer' object has no attribute 'pop'

In [45]:
df1.pop(6) # here del and pop will only work for colummns and not for rows

KeyError: 6

In [46]:
df1.drop(0, inplace=True) # to make permanant change in data always use inplace = true else it will mark as temporary change

In [47]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

In [48]:
lis = [1,2,3,4,5,6,7]

Pandas is used for
* Data Exploration
* Data Cleaning
* Data Manipulation
* Data Analysis

In [49]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

# Data Exploration

In [50]:
df

   Apples  Grapes  Pear  Mangoes  Jackfruit  Strawberry  Oranges
A     102      50   200      700        200         400      470
B     500     150   300      800        300         500      570
C     250      90   240      740        240         440      510
D      75      45   195      695        195         395      465

In [51]:
df1 #10 millions # Population -> (Superset of all the Samples)

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

* head()

In [52]:
df1.head() # Sample (Subset of Population) means it will only show data of top 4-5 entities if we have large data of about 10 million

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

* tail()

In [53]:
df1.tail()

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

In [54]:
df1.head(2) # It will return first 2 rows

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60

In [56]:
df1.tail(1)  # It will return last 2 rows

    Name    OS  DBMS
4  Steve  67.0    23

* dtypes

In [57]:
df1.dtypes

Name     object
OS      float64
DBMS      int64
dtype: object

* empty

In [58]:
df1.empty

False

* ndim

In [59]:
df1.ndim

2

* shape

In [60]:
df1.shape

(4, 3)

* size

In [61]:
df1.size

12

* values

In [62]:
df1.values # here it won't print column names

array([['Rohit', 75.5, 80],
       ['Venkat', 96.0, 60],
       ['Sahil', 0.0, 50],
       ['Steve', 67.0, 23]], dtype=object)

In [63]:
df1.keys  # here it will print column names

<bound method NDFrame.keys of      Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23>

* describe

In [64]:
df1.describe()

              OS       DBMS
count   4.000000   4.000000
mean   59.625000  53.250000
std    41.571976  23.711811
min     0.000000  23.000000
25%    50.250000  43.250000
50%    71.250000  55.000000
75%    80.625000  65.000000
max    96.000000  80.000000

* T

In [65]:
df1.T # T here is transpose, here rows is changed to cols and cols to rows

          1       2      3      4
Name  Rohit  Venkat  Sahil  Steve
OS     75.5    96.0    0.0   67.0
DBMS     80      60     50     23

In [66]:
df1.iloc[1]

Name    Venkat
OS        96.0
DBMS        60
Name: 2, dtype: object

In [67]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

In [68]:
asd = df1.T

In [69]:
asd.iloc[1]

1    75.5
2    96.0
3     0.0
4    67.0
Name: OS, dtype: object

* sum()

In [70]:
df1.sum()

Name    RohitVenkatSahilSteve
OS                      238.5
DBMS                      213
dtype: object

In [71]:
df1["OS"].sum()

238.5

In [ ]:
df1.sum(1) # 1 -> axis

* mean()

In [76]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

* mode()

In [81]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

In [82]:
df1.mode()

     Name    OS  DBMS
0   Rohit   0.0    23
1   Sahil  67.0    50
2   Steve  75.5    60
3  Venkat  96.0    80

In [83]:
df1.mode(1) # arrange oderwise from accesding to descending

C:\Users\Asus\AppData\Local\Temp\ipykernel_21960\3078165969.py:1: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  df1.mode(1)

        0     1   2
1   Rohit  75.5  80
2  Venkat  96.0  60
3   Sahil   0.0  50
4   Steve  67.0  23

* std -> Standard Deviation

In [85]:
df1

     Name    OS  DBMS
1   Rohit  75.5    80
2  Venkat  96.0    60
3   Sahil   0.0    50
4   Steve  67.0    23

In [ ]:
df1.std() # Standard Deviation

In [ ]:
df1.std(1)

1     3.535534
2     3.181981
3    25.455844
4    31.112698
5     0.707107
7     3.889087
dtype: float64

* min() & max()

In [87]:
df1.min()

Name    Rohit
OS        0.0
DBMS       23
dtype: object

In [88]:
df1.max()

Name    Venkat
OS        96.0
DBMS        80
dtype: object

In [ ]:
df1.min(1) # 1 -> axis

In [ ]:
df1.max(1)

# You can also explore more on data exploration with following features:-
* cumsum()
* cumprod()